<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBR-G_gcZ4MAeQTeqTS1wNBrmTM0U-F1i0</string>
	<key>GCM_SENDER_ID</key>
	<string>533310859784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tokyo.n-n.flutterCamera</string>
	<key>PROJECT_ID</key>
	<string>flutter-camera-ryonn</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-camera-ryonn.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533310859784:ios:261520d4949f4e26663fbd</string>
</dict>
</plist>